# Ignore everything by default
*

# Never ignore .gitignore itself
!.gitignore

# Unignore the Assets folder so we can traverse down to Scripts
!Assets/

# Unignore the Scripts folder inside Assets
!Assets/Scripts/

# Unignore C# files in Scripts and any of its subfolders
!Assets/Scripts/**/*.cs

# Ignore Unity meta files
*.meta

